.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  gap: 2.875rem;
}
.title {
  color: var(--primary);
}
.title > h1 > span {
  color: var(--accent);
}
.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3.625rem;
}
.card {
  gap: 0;
  width: 17rem;
  aspect-ratio: 1 / 1;
  position: relative;
  border-radius: var(--border-radius);
  color: var(--white);
  padding: 2rem;
}
.card[data-order="1"] {
  background-color: var(--primary--dark);
}
.card[data-order="2"] {
  background-color: var(--primary);
}
.card[data-order="3"] {
  background-color: var(--primary--light);
}

.card > h1:first-of-type {
  position: absolute;
  left: 10%;
  top: 10%;
}
.card > h4 {
  color: var(--primary--light);
}
.card > h3 {
  font-size: 1.6em;
  color: var(--white);
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 7vw;
}
@media screen and (max-width: 1290px) {
  .title {
    order: 1;
  }
  .buttons {
    order: 2;
  }
  .cards {
    order: 3;
  }
}
@media screen and (min-width: 780px) {
  .card[data-order="1"] {
    animation: steps 1.5s ease-in-out;
    animation-iteration-count: 30;
  }
  .card[data-order="2"] {
    animation: steps 1.5s ease-in-out;
    animation-iteration-count: 30;
    animation-delay: 0.3s;
  }
  .card[data-order="3"] {
    animation: steps 1.5s ease-in-out;
    animation-iteration-count: 30;
    animation-delay: 0.6s;
  }
}
@keyframes steps {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
