.container {
  padding-inline: 3.875rem;
  padding-block: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
  z-index: 5;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 254, 254, 0.1) 67.51%,
    rgba(255, 254, 254, 0) 94.67%
  );
}
/*TODO Mobile Optimisation*/
.logo {
  width: 250px;
  height: auto;
}

.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.menuItem {
  display: inline-block;
  padding-inline: 1.25rem;
}
.menuItem:not(:nth-last-child(1)) {
  color: var(--primary);
  mix-blend-mode: exclusion;
}
