.container {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.herotextbg {
  width: 50vw;
  min-width: 650px;
}
.herotext {
  position: absolute;
  top: 50%;
  left: 30%;
  translate: -50% -50%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}
.herobg {
  width: 50vw;
  z-index: -1;
}
.herotitle {
  font-size: 52px;
  color: var(--landing-page-h1--color);
}
.herodesc {
  color: var(--paragraph--color);
  width: min(80vw, 392px);
  text-align: center;
}
@media screen and (max-width: 1290px) {
  .herotextbg {
    display: none;
  }
  .herobg {
    width: 100vw;
  }
  .herotext {
    left: 50%;
  }
  .herotitle {
    color: var(--white);
    text-align: center;
  }
  .herodesc {
    color: var(--white);
  }
  .herobg > div > div {
    filter: blur(15px) contrast(60%) brightness(80%);
    scale: 1.05;
  }
}
