.bglinescontainer {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 650px;
}
.bglines {
  z-index: 1;
  position: absolute;
}
.line {
  animation: drawline var(--dur) ease-in-out var(--delay) forwards;
  stroke-linecap: round;
  stroke-dasharray: var(--line-length);
  stroke-dashoffset: var(--line-length);
}
@keyframes drawline {
  100% {
    stroke-dashoffset: 0;
  }
}
