/* * {
  outline: 1px solid #f00 !important;
} */
:root {
  /* Color styles */
  --primary--dark: hsla(224, 42%, 13%, 1);
  --primary: hsla(208, 72.7%, 21.6%, 1);
  --primary--light: hsla(208, 91%, 61%, 1);
  --accent--light: rgb(125, 248, 114);
  --accent: hsla(115, 96.7%, 64.7%, 1);
  --accent--dark: rgb(49, 182, 36);
  --white: hsla(0, 0%, 100%, 1);
  --black: hsla(0, 0%, 20%, 1);
  --light--gray: rgb(220, 220, 220);
  --gray: rgb(174, 174, 174);
  --red: hsla(0, 86.2%, 57.3%, 1);
  --orange: hsla(36, 86%, 57%, 1);
  --green: hsla(112, 86.3%, 57.1%, 1);
  --dark--gray: rgb(81, 81, 81);
  --paragraph--color: var(--black);
  --landing-page-h1--color: var(--primary--dark);
  --title--color: var(--primary);
  --subtitle--color: var(--primary--light);
  /* Text-size styles */
  /* base size: paragraph (16px) */
  --landing-page-h1: 3.25rem;
  --paragraph: 1rem;
  --navbar-menu: 1rem;
  --h1: 2.5rem;
  --h2: 1.88rem;
  --h3: 1.12rem;
  --h1-impact: 2.81rem;
  --p-impact: 1.25rem;
  --carousel-title: 1.56rem;
  --primary-button: 1.12rem;
  --secondary-button: 1.12rem;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Prompt", sans-serif;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 150ms ease;
}
a:hover {
  color: var(--accent);
}
* {
  box-sizing: border-box;
}
p {
  font-size: var(--paragraph);
  line-height: 24px;
  margin: 0;
}
h1 {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: var(--h1);
  line-height: 113.7%;
}
h2 {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: var(--h2);
  line-height: 113.7%;
}
h3 {
  margin: 0;
}
h4 {
  margin: 0;
  font-style: normal;
  font-size: var(--p-impact);
  font-weight: 700;
  line-height: 113.7%;
}
@media screen and (max-width: 428px) {
  :root {
    --landing-page-h1: 2.5rem;
    --h1: 2rem;
    --h2: 1.3rem;
  }
}
input[type="checkbox"] {
  accent-color: var(--accent);
}
.textHL {
  color: var(--accent);
}
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: rgb(44, 44, 44);
  }
} */
