.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  padding-inline: 3vw;
  padding-top: 10vh;
  padding-bottom: 3vh;
  display: flex;
  flex-direction: row;
  gap: 1.8rem;
}
.menu {
  height: 100%;
  width: 25%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: var(--primary);
  border-radius: 1rem;
  isolation: isolate;
}
.sidebartoggle {
  display: none;
}
.menulist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 26px;
  gap: 29px;
  list-style: none;
  color: var(--primary--light);
  width: 100%;
}
.menulist > li {
  width: 100%;
  transition: scale 0.15s ease;
  transform-origin: left;
}
.menulist > li:not(:nth-child(1)):hover {
  scale: 0.95;
}
.menulist > li > h4 {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.menulist > li:nth-child(1) {
  display: flex;
  justify-content: center;
}
.neworderbutton::before {
  content: " Create New Order";
}
.menucontact {
  padding-block: 1.5rem;
  height: fit-content;
  width: 98%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
  isolation: isolate;
  border-radius: 1rem;
  color: var(--primary--light);
  background: #082441;
}
.menucontact > p {
  color: var(--white);
}
.menucontact > p > a {
  color: var(--primary--light);
  word-break: break-all;
  white-space: normal;
}
.displaycontainer {
  width: 75%;
}
.display {
  color: var(--primary);
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
}
.displaytitle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cards {
  height: 40%;
  --color: var(--white);
}
.list {
  height: 60%;
  --color: var(--accent);
}
.content {
  width: 100%;
  height: 100%;
  z-index: 5;
}
.cards .content {
  display: flex;
  gap: 1.5rem;
  padding-bottom: 1.5rem;
  overflow-x: scroll;
  scrollbar-width: thin;
}
.cards .order {
  border-radius: var(--border-radius);
  width: 25%;
  min-width: 14.0625em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  padding-bottom: 1.5rem;
  margin-top: 1rem;
}
.cards .order[data-status="Complete"] {
  background-color: var(--primary);
}
.cards .order[data-status="Recieved"] {
  background-color: var(--primary--lighter);
}
.cards .order[data-status="Processing"] {
  background-color: var(--primary--light);
}
.orderdetail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
.cards .orderdetail {
  color: var(--white);
}
.cards .orderdetail:nth-child(1) {
  position: absolute;
  top: 10%;
  left: 20%;
}
.cards .orderdetail:nth-child(1) p {
  display: none;
}
.cards .orderdetail:nth-child(1) h4 {
  font-size: 1.8em;
  position: relative;
}
.cards .orderdetail:nth-child(1) h4::before {
  content: "#";
  position: absolute;
  top: 0;
  left: -20%;
  opacity: 0.8;
}

.cards .orderdetail:nth-child(3) {
  position: absolute;
  top: 25%;
  left: 20%;
  color: var(--white);
  opacity: 0.8;
}
.cards .orderdetail:nth-child(4) {
  display: none;
}
.list .content {
  margin-top: 2rem;
  padding-inline: 1rem;
  border-radius: 1rem;
  overflow-y: scroll;
  box-shadow: inset 0px 0px 13px rgba(15, 58, 95, 0.25);
}
.list .order {
  margin-block: 1rem;
  padding-block: 1.5rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 2px 17px -4px rgba(10, 78, 141, 0.24);
  border-radius: 1rem;
  color: var(--primary--light);
}
/* OrdersInterface.jsx */

.list .orderdetail:nth-child(4) {
  justify-content: flex-start;
}
.list .orderdetail > h4 {
  color: var(--primary);
}
.list .orderdetail > span[data-status="Complete"] {
  color: var(--primary);
}
.list .orderdetail > span[data-status="Recieved"] {
  color: var(--primary--light);
}
.list .orderdetail > span[data-status="Processing"] {
  color: var(--primary--lighter);
}

@media screen and (max-width: 1290px) {
  .neworderbutton::before {
    content: " New Order";
  }
}
@media screen and (max-width: 940px) {
  .menu {
    position: absolute;
    inset: 0;
    padding-top: 9vh;
    width: 50vw;
    transition: left 0.3s ease-in-out;
    left: -50%;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    isolation: isolate;
    z-index: 2;
  }
  .sidebartoggle {
    display: inline;
    position: absolute;
    left: 100%;
    top: 30vh;
    background-color: var(--primary);
    font-size: 25px;
    color: var(--white);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 1.5rem 0.2rem;
    cursor: pointer;
    transition: left 0.4s ease-in-out;
  }
  .content {
    z-index: 1;
  }
  .displaycontainer {
    width: 100%;
  }
  .toggled ~ .displaycontainer {
    z-index: -1;
  }
  .orderdetail {
    flex-direction: column;
  }
}

@media screen and (max-width: 940px) {
  .menu {
    left: -80%;
    width: 80vw;
  }
}
.sidebartoggle > svg {
  rotate: 0;
  transition: rotate 0.3s ease;
}

.toggledbutton > svg {
  rotate: 180deg;
  translate: -5px 0;
}
.toggled {
  left: 0;
}
